.image-processing {
  height: 100%;
  overflow: auto;
  canvas {
    border: 1px solid $red;
  }
  .controls {
    padding-top: $space-med;
    max-width: #{map-get($breakpoints, 'small')};
    margin: 0 auto;
    button {
      width: 100%
    }
    .classify {
      display: flex;
      margin-bottom: $space-med;
      label {
        padding-right: $space-med;
        flex-grow: 1;
        select {
          width: 100%;
        }
      }
    }
  }
  .loader {
    top: 150px;
  }
  .hidden {
    display: none;
  }
  .dim {
    opacity: 0.2;
  }
}