// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




/// Copy text color
/// @type Color
$text-color: $black !default;

/// Main brand color
/// @type Color
$brand-color: $asphalt !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 520px,
  'medium': 900px,
  'large': 1200px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

// Spacing
$space-big: 40px !default;
$space-med: 20px !default;
$space-small: 10px !default;
$space-tiny: 5px !default;

// Font sizes
$font-small: 12px !default;
$font-med: 16px !default;
$font-big: 22px !default;
$font-huge: 40px !default;
