$camera-icon-size: 96px;

.upload {
  .captureInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label {
    padding: ($camera-icon-size + 15px) 25px 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: $paper;
    background-color: $carrot;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px $mid-grey;
    margin: $space-big auto;
    background-image: image('image_plus.svg');
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: $camera-icon-size $camera-icon-size;
    display: block;
    width: 270px;
    font-weight: bold;
  }

  label:hover {background-color: $pumpkin}

  label:active {
    background-color: $pumpkin;
    box-shadow: 0 5px $dark-grey;
    transform: translateY(4px);
  }
}

.modal {
  position: absolute;
  top: $space-big;
  left: $space-big;
  right: $space-big;
  bottom: $space-big;
  background-color: $paper;
  padding: $space-med;
  &:focus{
    outline: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: $dark-grey;
  // float: right;
  font-size: $font-huge;
  font-weight: bold;
  display: block;
  position: absolute;
  top: $space-small;
  right: $space-med;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}